    @{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/dist/echarts.js"></script>
    <title>Charts</title>
</head>
<body>
    <div id="container" style="width: 1200px; height: 400px; border: 0px solid red">
    </div>
    <span id="wrong-message"></span>
    <script src="~/Scripts/Echartsjquery.js"></script>
</body>
</html>
