@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>D3HighDemo</title>
</head>
    <body id="table">
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/d3.js"></script>
<script src="~/Scripts/integrateIndex.js"></script>
    </body>
    
</html>
