@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestDemo</title>
</head>
<body>
    <div id="container" style="height: 270px; width: 300px; position: relative;">
    </div>
</body>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/d3.js"></script>
<script src="~/Scripts/D3PieChart.js"></script>
</html>
